body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
  clear: right;
}
.cr{
  color: midnightblue;
}
.card{
  width: 45%;
}
.tile-image{
  height: 200px;
  float: left;
  margin-right: 40px;
}
.left{
  float: left;
}
.right{
  float: right;
}

@media (max-width:680px) {
  h1{
    font-size: 3.5rem;
    text-align: center;
  }
  .logo{
    width: 100px;
  }
  .card{
    width: 100%;
    margin-top: 10px;
    display: block;
    margin-bottom: 10px;

  }
  .card img{
    width: 100%;
    margin-bottom: 10px;
  }
}